.welcome {
  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    @include _768 {
      display: block;
    }
    @include _420 {
      padding-top: 9px;
    }
  }
  &__info {
    padding: 144px 0 278px;
    height: 585px;
    max-width: 434px;
    width: 100%;
    @include _1366 {
      padding: 48px 0 192px;
    }
    @include _768 {
      padding: 0 0 50px;
      max-width: 100%;
      height: auto;
      text-align: center;
    }
  }
  &__title {
    position: absolute;
    max-width: 598px;
    width: 100%;
    margin-bottom: 25px;
    z-index: 2;
    @include _768 {
      position: relative;
      max-width: 100%;
      z-index: 0;
    }
    span {
      display: block;
    }
  }
  &__text {
    @extend %roboto;
    font-weight: 300;
    color: #fff;
    font-size: 28px;
    margin-top: 205px;
    margin-bottom: 75px;
    position: absolute;
    max-width: 598px;
    width: 100%;
    z-index: 2;
    @include _1366 {
      margin-bottom: 50px;
      font-size: 24px;
    }
    @include _768 {
      position: relative;
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      z-index: 0;
      font-size: 20px;
      line-height: 1.1;
    }
    @include _420 {
      font-size: 16px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    max-width: 360px;
    width: 100%;
    height: 75px;
    padding: 25px 20px;
    background-color: $dark-red;
    color: #fff;
    border-radius: 9px;
    transition: background-color 0.3s;
    position: absolute;
    z-index: 2;
    bottom: 32%;
    &:hover {
      background-color: $font-gold;
    }
    &:active {
      background-color: $font-gold--active;
    }
    @include _1366 {
      max-width: 300px;
      height: 60px;
      bottom: 33%;
    }
    @include _768 {
      display: none;
    }
  }
  &__slider-container {
    position: relative;
    overflow: hidden;
    @include _1024 {
      min-width: 700px;
    }
    @include _768 {
      min-width: auto;
    }
  }
  &__slider {
    max-width: 994px;
    width: 100%;
    height: 807px;
    position: relative;
    overflow: hidden;
    @include _1366 {
      max-width: 700px;
      height: 555px;
    }
    @include _768 {
      margin-bottom: 0;
      max-width: 100%;
      height: auto;
    }
  }
  &__slider-item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
  }
  &__slider-item.active,
  &__slider-item.next {
    display: block;
  }
  &__slider-item.next {
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__slider-bg {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
      @include _768 {
        display: none;
      }
    }
  }
  &__slider-img {
    @include _420 {
      max-width: 380px;
      width: 100%;
      max-height: 285px;
    }
  }
  &__slider-control {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 600px;
    width: 100%;
    height: 120px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 75px;
    @include _1024 {
      max-width: 100%;
      padding-left: 225px;
    }
    @include _768 {
      position: relative;
      padding: 10px;
      justify-content: center;
      max-height: 100px;
    }
    @include _420 {
      max-height: 80px;
    }
  }
  &__slider-info {
    @include _768 {
      margin-right: 45px;
    }
    @include _600 {
      margin-right: 20px;
    }
    @include _420 {
      margin-right: 25px;
    }
  }
  &__slider-count {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    vertical-align: sub;
    @include _420 {
      font-size: 16px;
    }
    &:first-child {
      border-right: 1px solid #fff;
      padding-right: 11px;
      margin-right: 3px;
      @include _420 {
        padding-right: 5px;
        margin-right: 0px;
      }
    }
  }
  &__slider-squares {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 16px;
    @include _1024 {
      max-width: 160px;
      width: 100%;
    }
    @include _768 {
      margin-right: 45px;
    }
    @include _600 {
      margin-right: 20px;
    }
    @include _420 {
      margin-right: 25px;
      max-width: 75px;
      width: 100%;
    }
  }
  &__slider-squarebtn {
    padding: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: none;
    transition: background-color 0.3s;
    @include _1366 {
      width: 12px;
      height: 12px;
    }
    @include _420 {
      width: 7px;
      height: 7px;
    }
    &.active {
      background-color: #D2B183;
    }
    &:hover {
      background-color: $font-gold;
    }
    &:active {
      background-color: $font-gold--active;
    }
  }
  &__slider-buttons {
    display: flex;
  }
  &__slider-btn {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    &:hover {
      svg {
        fill: $font-gold;
      }
    }
    &:active {
      svg {
        fill: $font-gold--active;
      }
    }
    svg {
      fill: #fff;
      width: 30px;
      height: 8px;
      transition: fill 0.3s;
      @include _420 {
        width: 20px;
        height: 8px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}