.visiting {
  padding: 75px 0 75px;
  @include _1366 {
    padding: 47px 0 60px;
  }
  @include _768 {
    padding: 40px 0 80px;
  }
  @include _420 {
    padding-bottom: 40px;
  }
  &__title {
    margin-bottom: 103px;
    @include _1366 {
      margin-bottom: 73px;
    }
    @include _768 {
      margin-bottom: 63px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 75px;
    @include _1366 {
      justify-content: space-evenly;
      row-gap: 60px;
    }
    @include _768 {
      row-gap: 40px;
    }
  }
  &__box {
    display: block;
    max-width: 440px;
    width: 100%;
    height: 424px;
    color: #000;
    &:hover {
      .visiting__box-title:after {
        width: 100%;
      }
    }
    @include _1366 {
      max-width: 330px;
      height: 345px;
    }
    @include _768 {
      max-width: 280px;
      height: 301px;
      font-weight: 200;
    }
    @include _420 {
      height: 295px;
    }
  }
  &__box-img {
    width: 100%;
    height: 285px;
    object-fit: cover;
    margin-bottom: 25px;
    @include _1366 {
      max-width: 330px;
      height: 215px;
    }
    @include _768 {
      max-width: 280px;
      height: 180px;
    }
  }
  &__box-title {
    @extend %forum;
    font-size: 32px;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 22px;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -14px;
      height: 2px;
      width: 45%;
      background-color: $dark-red;
      transition: width 0.5s;
      @include _420 {
        width: 54%;
      }
    }
    @include _1366 {
      font-size: 28px;
      letter-spacing: 3px;
    }
    &--wide {
      @include _1366 {
        letter-spacing: 5px;
      }
    }
    @include _768 {
      letter-spacing: 3px;
      font-size: 22px;
    }
    @include _420 {
      font-size: 18px;
      margin-bottom: 26px;
      letter-spacing: 5px;
    }
  }
  &__box-text {
    letter-spacing: 0;
    font-size: 18px;
    @include _1024 {
      font-size: 16px;
    }
    span {
      display: block;
      margin-bottom: 10px;
      font-size: 22px;
      @include _1366 {
        font-size: 20px;
      }
      @include _768 {
        font-size: 18px;
      }
      @include _420 {
        font-size: 16px;
      }
    }
  }
}