.video {
  padding: 75px 0 127px;
  position: relative;
  @include _1024 {
    padding: 60px 0 112px;
  }
  @include _768 {
    padding-top: 40px;
  }
  @include _420 {
    padding: 36px 0 88px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
    @include _1024 {
      margin-bottom: 28px;
      justify-content: start;
    }
    @include _768 {
      margin-bottom: 20px;
    }
  }
  &__title {
    &::after {
      display: none;
    }
  }
  &__text {
    max-width: 720px;
    width: 100%;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.55;
    @include _1024 {
      display: none;
    }
  }
  &__slider-box {
    position: relative;
    overflow: hidden;
    height: 735px;
    margin-bottom: 40px;
    @include _1024 {
      height: 444px;
    }
    @include _768 {
      height: 329px;
    }
    @include _420 {
      height: 172px;
    }
  }
  &__slider-big {
    position: relative;
    @include _768 {
      margin-bottom: 21px;
    }
    @include _420 {
      margin-bottom: 40px;
    }
    & .slick-list {
      overflow: hidden;
    }
    & .slick-track {
      display: flex;
    }
  }
  &__slider-bigvideo {
    width: 100%;
    height: 100%;
  }
   &__slider-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
    transition: fill 0.3s;
    @include _1024 {
      width: 152px;
      height: 152px;
    }
    @include _768 {
      width: 80px;
      height: 80px;
    }
    @include _420 {
      width: 50px;
      height: 50px;
      top: 39%;
    }
    svg {
      width: 100%;
      height: 100%;
      &:last-child {
        display: none;
      }
    }
    &.pause {
      display: none;
      svg {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }
    }
    &:hover {
      fill: $dark-red;
    }
  }
  &__slider-control {
    width: 100%;
    height: 85px;
    background-color: #000;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    transition: transform 0.3s;
    @include _1024 {
      height: 60px;
      padding: 15px 40px 16px;
    }
    @include _768 {
      height: 54px;
      padding: 12px 30px;
    }
    @include _420 {
      height: 57px;
      padding: 16px 20px;
    }
  }
  &__slider-play,
  &__slider-sound,
  &__slider-screen {
    border: none;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__slider-play,
  &__slider-sound,
  &__slider-screen {
    svg {
      fill: #b3b3b3;
      transition: fill 0.3s;
    }
  }
  &__slider-play:hover,
  &__slider-sound:hover,
  &__slider-screen:hover {
    svg {
      fill: #989898;
    }
  }
  &__slider-play {
    svg {
      width: 23px;
      height: 30px;
      &:last-child {
        display: none;
      }
      @include _768 {
        width: 23px;
        height: 29px;
      }
      @include _420 {
        width: 14px;
        height: 18px;
      }
    }
    &.pause {
      svg {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }
    }
  }
  &__slider-sound {
    &.mute {
      svg:first-child {
        display: none;
      }
      svg:last-child {
        display: block;
      }
    }
    svg {
      width: 36px;
      height: 30px;
      &:last-child {
        display: none;
      }
      @include _1024 {
        width: 26px;
        height: 20px;
      }
      @include _768 {
        width: 27px;
        height: 21px;
      }
      @include _420 {
        width: 18px;
        height: 14px;
      }
    }
  }
  &__slider-screen {
    &.open {
      svg {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }
    }
    svg {
      width: 36px;
      height: 36px;
      &:last-child {
        display: none;
      }
      @include _1024 {
        width: 26px;
        height: 25px;
      }
      @include _768 {
        width: 27px;
        height: 27px;
      }
      @include _420 {
        width: 18px;
        height: 18px;
      }
    }
  }
  &__slider-inputprogress,
  &__slider-inputsound {
    max-width: 929px;
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
    cursor: pointer;
    transition: background 450ms ease-in;
    @include _1024 {
      height: 5px;
      max-width: 564px;
    }
    @include _420 {
      height: 4px;
    }
  }
  &__slider-inputprogress {
    @include _768 {
      position: absolute;
      left: 0;
      top: -6px;
      max-width: 100%;
    }
    @include _420 {
      top: -2px;
    }
  }
  &__slider-inputsound {
    width: 155px;
    background: linear-gradient(to right, #710707 0%, #710707 44%, #e5e5e5 44%, #e5e5e5 100%);
    @include _1024 {
      max-width: 143px;
      width: 100%;
    }
    @include _768 {
      max-width: 486px;
    }
    @include _420 {
      max-width: 200px;
    }
  }
  &__slider-inputprogress::-webkit-slider-runnable-track,
  &__slider-inputsound::-webkit-slider-runnable-track {
    height: 15px;
    margin-top: 0;
    -webkit-appearance: none;
    @include _420 {
      margin-top: 3px;
    }
  }
  &__slider-inputprogress::-webkit-slider-thumb,
  &__slider-inputsound::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    box-shadow: none;
    -webkit-appearance: none;
    @include _1024 {
      width: 13px;
      height: 13px;
    }
    @include _420 {
      width: 10px;
      height: 10px;
    }
  }
  &__slider-inputsound::-webkit-slider-thumb {
    position: relative;
    top: 0;
    @include _420 {
      top: 1px;
    }
  }
  &__slider-small {
    width: 100%;
    position: relative;
    iframe {
      border: none;
      max-width: 452px;
      width: 100%;
      height: 254px;
      @include _1024 {
        max-width: 300px;
        height: 170px;
      }
      @include _768 {
        max-width: 354px;
        height: 199px;
      }
      @include _420 {
        max-width: 180px;
        height: 101px;
      }
    }
    & .slick-list {
      overflow: hidden;
    }
    & .slick-track {
      display: flex;
      justify-content: space-between;
    }
    & .slick-arrow {
      position: absolute;
      bottom: -63px;
      width: 25px;
      height: 25px;
      background-color: transparent;
      border: none;
      font-size: 0;
      z-index: 10;
      background-position: center center;
      background-repeat: no-repeat;
    }
    & .slick-arrow.slick-prev {
      left: 50%;
      transform: translateX(-117px);
      background-image: url("./../assets/svg/slide-arrow-left.svg");
    }
    & .slick-arrow.slick-next {
      right: 50%;
      transform: translateX(100px);
      background-image: url("./../assets/svg/slide-arrow-right.svg");
    }
    & .slick-dots {
      display: flex;
      position: absolute;
      bottom: -55px;
      left: 50%;
      transform: translateX(-50%);
    }
    & .slick-dots li {
      width: 12px;
      height: 12px;
      background-color: #999999;
      border-radius: 50%;
      margin: 0 20px 0 0;
      transition: background-color 0.3s;
      font-size: 0;
      &.slick-active {
        background-color: #333333;
      }
      &:hover {
        background-color: $dark-red;
      }
    }
    & .slick-dots li button {
      width: 12px;
      height: 12px;
      background-color: transparent;
      border: none;
    }
  }
  &__slider-smallitem {
    max-width: 452px;
    width: 100%;
    height: 254px;
    @include _1024 {
      max-width: 300px;
      height: 170px;
    }
    @include _768 {
      max-width: 354px;
      height: 199px;
    }
    @include _420 {
      max-width: 180px;
      height: 101px;
    }
  }
}
